@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #090E15;
  --foreground: #899CA7;
  --blue-color: #004773;
  --darkGrey-color: #3e3e3e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #899CA7;
    --foreground: #090E15;
  }
}

body {
  color: var(--darkGrey-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.h3 {
  font-size: 16px;
  font-weight: 700;
}
